---
import Button from '../components/Button'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main
    class='flex text-center items-center flex-col w-full min-h-screen gap-y-2 justify-center mx-auto'
  >
    <Button client:visible />
  </main>
</Layout>
