---
import Button from '../components/Button'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <main
    class='bg-repeat bg-contain h-screen flex items-center flex-col justify-center bg-gradient-to-b from-rose-200 gap-y-4 to-transparent p-4'
  >
    <Button client:visible />
  </main>
</Layout>
